# Node
node_modules/

# Build output
build/
dist/
.next/

# Secrets
.env
.env.local

# Git / OS
.git
.gitignore
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*